<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <script src="https://kit.fontawesome.com/881c928f22.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container">
          <h1 class="navbar-brand">
            <a href="https://6de6916bdc4c410886d291012dca029b.vfs.cloud9.us-east-1.amazonaws.com/" class="nav-link text-light">Bookers2</a>
          </h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "Home", root_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Users', root_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Books', books_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Home", root_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "Log in", new_user_session_path, class: 'nav-link text-light' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <body>
      <%= yield %>
    </body>
    <footer>
      <p class="text-center">CopyRight Infratop.inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>
